@font-face {
    font-family: sub;
    src: url("../fonts/AlexBrush-Regular.ttf");
  }
  @font-face {
    font-family: cname;
    src: url("../fonts/New Walt Disney.ttf");
  }
  
      .certificate-wrapper {
        overflow: hidden;
        width: 297mm;
        height: 210mm;
        /* border: 1pt solid gray; */
        
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: normal;
        position: relative;
       
      }
     .certificate-background {
      left: 0mm;
        width: 297mm;
        height: 210mm;
        position: relative;
        padding: 5mm;
        background-color: rgba(237, 237, 233, 0.863);
        overflow: hidden;
        line-height: normal;
      }
      .recttop {
        top: 0mm;
    left: 0mm;
    width: 6.5mm;
    height: 220.5mm;
    background: rgba(236, 93, 28, 0.733) !important;
    z-index: 1;
    transform: skewX(0deg);
    position: absolute;
      }
      .rectleft{
        left: 9.5mm;
    top: 0mm;
    width: 2.5mm;
    height: 211.5mm;
    background-image: linear-gradient(180deg, rgba(236, 93, 28, 0.733), rgba(237, 237, 233, 0.863));
    position: absolute;
    z-index: 1;
      }
      .tri1{
        left: 290.5mm;
    bottom: 0mm;
    width: 6.5mm;
    height: 201.5mm;
    background-image: linear-gradient(rgba(237, 237, 233, 0.863), rgba(236, 93, 28, 0.733));
    /* transform: skewX(0deg); */
    position: absolute;
    z-index: 1;
      }
    .tri2{
      width: 13.5mm;
    height: 52mm;
    left: 253mm;
    top: -5.5mm;
    background: #f49117 !important;
    transform: skewY(-45deg);
    position: absolute;
    }
    .tri3{
      width: 14.5mm;
    height: 51mm;
    left: 266mm;
    top: -5mm;
    background: #f49117 !important;
    transform: skewY(45deg);
    position: absolute;
    }
      .certificate-wrapper .certificate-background .rectbtm {    
        width: 26mm;
        height: .2mm;
        border-bottom: 37mm solid rgba(251, 251, 251, 0.486);
        border-right: 27.5mm solid transparent;
        border-left: 25mm solid transparent;
        position: absolute;
        margin-top: 35mm;
        margin-left: -51mm;
    
  }
  .rectbtm::before{
    position: absolute;
    content: '';
    top: 36.9mm;
    left: -24mm;
    width: 101%;
    border-bottom: 41mm solid rgba(251, 251, 251, 0.486);
    border-right: 85px solid transparent;
    border-left: 107px solid transparent;
    transform: rotate(180deg);
  }

  .certificate-wrapper .certificate-background .rectbtm2 {    
    width: 15mm;
    border-bottom: 37mm solid rgba(251, 251, 251, 0.486);
    border-right: 27.5mm solid transparent;
    border-left: 25mm solid transparent;
    position: absolute;
    margin-top: 122mm;
    margin-left: -17mm;

}
.rectbtm2::before{
  position: absolute;
    content: '';
    top: 36.8mm;
    left: -61mm;
    width: 72mm;
    border-bottom: 44mm solid rgba(251, 251, 251, 0.486);
    border-right: -8mm solid transparent;
    border-left: 118px solid transparent;
    transform: rotate(180deg);
}
.certificate-wrapper .certificate-background .rectbtm3{    
  width: 40mm;
  height: .2mm;
  border-bottom: 37mm solid rgba(251, 251, 251, 0.486);
  border-right: 27.5mm solid transparent;
  border-left: 25mm solid transparent;
  position: absolute;
  margin-top: 146mm;
  margin-left: 48mm;

}
.rectbtm3::before{
position: absolute;
content: '';
top: 36.9mm;
left: -24mm;
width: 101%;
border-bottom: 41mm solid rgba(251, 251, 251, 0.486);
border-right: 85px solid transparent;
border-left: 107px solid transparent;
transform: rotate(180deg);
}
.certificate-wrapper .certificate-background .rectbtm4{    
  width: 20mm;
  height: 9.2mm;
  border-bottom: 37mm solid rgba(251, 251, 251, 0.486);
  border-right: 27.5mm solid transparent;
  border-left: 26mm solid transparent;
  position: absolute;
  margin-top: 58mm;
  margin-left: 40mm;

}
.rectbtm4::before{
  position: absolute;
  content: '';
  top: 45.9mm;
  left: -25mm;
  width: 88%;
  border-bottom: 35mm solid rgba(251, 251, 251, 0.486);
  border-right: 85px solid transparent;
  border-left: 120px solid transparent;
  transform: rotate(180deg);
}
.rectbtm5::before{
  width: 46mm;
  height: 9.2mm;
  border-bottom: 37mm solid rgba(251, 251, 251, 0.486);
  border-right: 27.5mm solid transparent;
  border-left: 26mm solid transparent;
  position: absolute;
  margin-top: 58mm;
  margin-left: 177mm;
  }
  .certificate-wrapper .certificate-background .rectbtm5{    
    position: absolute;
    content: '';
    top: 45.9mm;
    left: -24mm;
    width: 101%;
    border-bottom: 41mm solid rgba(251, 251, 251, 0.486);
    border-right: 85px solid transparent;
    border-left: 107px solid transparent;
    transform: rotate(180deg);
  }
  .certificate-wrapper .certificate-background .rectbtm6{    
    width: 40mm;
    height: .2mm;
    border-bottom: 37mm solid rgba(251, 251, 251, 0.486);
    border-right: 27.5mm solid transparent;
    border-left: 25mm solid transparent;
    position: absolute;
    margin-top: 119mm;
    margin-left: 185mm;
  
  }
  .rectbtm6::before{
  position: absolute;
  content: '';
  top: 36.9mm;
  left: -24mm;
  width: 101%;
  border-bottom: 41mm solid rgba(251, 251, 251, 0.486);
  border-right: 85px solid transparent;
  border-left: 107px solid transparent;
  transform: rotate(180deg);
  }
  .certificate-wrapper .certificate-background .rectbtm7{    
    width: 25mm;
    height: .2mm;
    border-bottom: 37mm solid rgba(251, 251, 251, 0.486);
    border-right: 27.5mm solid transparent;
    border-left: 25mm solid transparent;
    position: absolute;
    margin-top: 97mm;
    margin-left: 127mm;
  
  }
  .rectbtm7::before{
  position: absolute;
  content: '';
  top: 36.9mm;
  left: -24mm;
  width: 101%;
  border-bottom: 41mm solid rgba(251, 251, 251, 0.486);
  border-right: 85px solid transparent;
  border-left: 107px solid transparent;
  transform: rotate(180deg);
  }
  .certificate-wrapper .certificate-background .rectbtm8{    
    width: 40mm;
    height: .2mm;
    border-bottom: 37mm solid rgba(251, 251, 251, 0.486);
    border-right: 27.5mm solid transparent;
    border-left: 25mm solid transparent;
    position: absolute;
    margin-top: 26mm;
    margin-left: 168mm;
  
  }
  .rectbtm8::before{
    width: 40mm;
    height: .2mm;
    border-bottom: 37mm solid rgba(251, 251, 251, 0.486);
    border-right: 27.5mm solid transparent;
    border-left: 25mm solid transparent;
    position: absolute;
    margin-top: 47mm;
    margin-left: 135mm;
  }
  .certificate-wrapper .certificate-background .rectbtm9{    
    width: 40mm;
    height: .2mm;
    border-bottom: 37mm solid rgba(251, 251, 251, 0.486);
    border-right: 27.5mm solid transparent;
    border-left: 25mm solid transparent;
    position: absolute;
    margin-top: 59mm;
    margin-left: 246mm;
  
  }
  .rectbtm9::before{
  position: absolute;
  content: '';
  top: 36.9mm;
  left: -24mm;
  width: 101%;
  border-bottom: 41mm solid rgba(251, 251, 251, 0.486);
  border-right: 85px solid transparent;
  border-left: 107px solid transparent;
  transform: rotate(180deg);
  }
  .certificate-wrapper .certificate-background .rectbtm10{    
    width: 40mm;
    height: .2mm;
    border-bottom: 37mm solid rgba(251, 251, 251, 0.486);
    border-right: 27.5mm solid transparent;
    border-left: 25mm solid transparent;
    position: absolute;
    margin-top: -4mm;
    margin-left: 199mm;
  
  }
  .rectbtm10::before{
  position: absolute;
  content: '';
  top: 36.9mm;
  left: -24mm;
  width: 101%;
  border-bottom: 41mm solid rgba(251, 251, 251, 0.486);
  border-right: 85px solid transparent;
  border-left: 107px solid transparent;
  transform: rotate(180deg);
  }
  




        .certificate-content{
          top: 20mm;
          right: 20mm;
          bottom: 20mm;
          left: 20mm;
          position: absolute;
        }

       .title{
        font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 13.3mm;
    font-weight: 670;
    color: #1c13119e;
    /* padding-left: 25mm; */
    /* padding-top: 0mm; */
    left: 26mm;
    position: absolute;
    top: 7mm; 
    
      }
      .sr-no{
        position: absolute;
        left: 0mm;
        top: -17mm;
        font-size: 14pt;
      }
      .subtitle {
        margin-left: 43mm;
        font-size: 18px;
        position: absolute;
        text-align: center;
        /* margin-top: 25mm; */
        top: 35mm;
      }
      .initital-content {
        display: inline-block;
    margin-left: 24mm;
    font-size: 25px;
    /* font-weight: bold; */
    color: #ffffff;
    background-color: #f59014;
    padding: 3mm;
    border-radius: 16mm;
    position: absolute;
    margin-top: 55mm;
      }
      .subtitle2{
        font-size: 18px;
    position: absolute;
    margin-top: 70smm;
    top: 78mm;
    left: 102mm;
      }
      .candidate-name{
        font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15mm;
    font-weight: 600;
    /* padding-left: 79mm; */
    left: 80mm;
    top: 89mm;
    color: #f46b11;
    position: absolute;
      }
      .main-content{
        text-align: center;
    position: absolute;
    left: 55mm;
    top: 114mm;
      }
      .sign-president-img img{
        top: 132mm;
    left: 51mm;
    width: 40mm;
    position: absolute;
      }
      hr{
        width: 67mm;
    height: 0.2mm;
    background-color: black;
    left: 35mm;
    top: 155mm;
    position: absolute;
      }
      .sign-president{
        left: 48mm;
        top: 160mm;
        font-size: 5mm;
        position: absolute;
      }
      .signature-title{
        margin-left: 151mm;
    margin-top: -14mm;
    position: relative;
    right: 8mm;
    top: 5mm;
       
      }
      .hr{
        height: 0.3mm;
    background-color: black;
    top: 157mm;
    left: 164mm;
    width: 78mm;
    position: absolute;
      }
      .sign-director img{
        top: 137mm;
    left: 197mm;
    width: 24mm;
    position: absolute;
      }
      .logo{
        width: 13.5mm;
    height: 50mm;
    left: 249mm;
    top: -7.5mm;
    background: #f49117 !important;
    transform: skewY(-45deg);
    position: absolute;
      }
      .sign-director-name{
        position: absolute;
    left: 159mm;
    top: 162mm;
    
      }
      .certificate-logo img{
        width: 23mm;
    position: absolute;
    right: 0mm;
    top: -18mm;

      }
      .tri4{
        margin-left: 250mm;
    margin-top: 23mm;
    font-size: 7mm;
    position: absolute;
    color: rgb(244, 217, 189);
      }
  
      .sign-director-na{
        width: 14.5mm;
    height: 49mm;
    left: 262mm;
    top: -7mm;
    background: #f49117 !important;
    transform: skewY(45deg);
    position: absolute;
      }
      .org-name {
        left: auto;
    bottom: -8mm;
    right: 63mm;
    text-align: right;
    font-size: 17pt;
    font-weight: bold;
    position: absolute;
      }
     .org-address {
      right: 68mm;
    bottom: -18mm;
    width: 172mm;
    text-align: right;
    font-size: 11pt;
    font-weight: bold;
    position: absolute;
      }
     .top {
      margin-bottom: 0mm;
      margin-top: -3mm;
      left: 90mm;
      position: absolute;
      }
      .date {
        position: absolute;
    left: 194mm;
    top: -17mm;
    font-size: 14pt;
      }
      .org-logo img{
        top: -17mm;
    left: 113mm;
    width: 30mm;
    position: absolute;
      }




      /* width: 38mm;
      border-bottom: 37mm solid rgba(251, 251, 251, 0.486);
      border-right: 27.5mm solid transparent;
      border-left: 25mm solid transparent;
      position: absolute;
      margin-top: 128mm;
      margin-left: 11mm; */